/*Global styles*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(pexels-makayla-asuncion-2155237133-33894780.jpg);
    background-size: cover;
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.container{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    align-items: center;
}

/*Form styles*/
.form-box {

    padding: 15px;
    width: 400px;
    background-color: #ffffff;
}

.form-box h1 {
    text-align: center;
    margin-top: 0;
    color: rgb(249, 138, 3);
}

label {
    display: block;
    margin-top: 10px;
}

/* Form field styles and validation based changes for colors*/
input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
    
input.valid, select.valid, textarea.valid {
    border-color: green; /*If input valid - show green border of the field*/
}
    
input.invalid, select.invalid, textarea.invalid {
    border-color: red; /*if input invalid - show red border of the field*/
}

/*Text color red for the validation error text that shows after the "Sab=glabāt" btton is pressed*/
.error {
    color: red;
    font-size: 12px;
    margin-top: 2px;
    display: none;
}

.congrats {
    color: green;
    font-size: 12px;
    margin-top: 2px;
    display: none;
}

/*Form button formatting*/    
.buttons {
    margin-top: 10px;
    text-align: center;
   
}
    
button {
    margin: 5px;
    padding: 5px 10px;
     background-color: rgb(242, 197, 49);
     color: black;
    width: 7rem;
    height: 3rem;
    border: none;
    font-weight: 600;

}

button:hover {
    cursor: pointer;
    background-color: rgb(232, 128, 0);
}

/*checkbox and text alignment so they are side by side not on top of each other*/
label[for="noteikumi"], 
label:has(#noteikumi) {
    display: flex;
    align-items: center;
    gap: 10px; /* space between checkbox and text */
}

#noteikumi {
    width: auto;
    margin-top: 10px; /* gap from the "Komentāri" section */
}

/*Formatting for saved form value output box */
.output {
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    background-color: #ffffff;
    width: 350px;
}
    
.output b {
    display: inline-block;
    width: 70px;
}
    
.output a {
    display: block;
    margin-top: 8px;
    color: blue;
    cursor: pointer;
}

/*Formatting for rule link */
#showRules {
    color: blue;
}

